
@media (max-width: 700px)

{

    
    .block2 {
        display: flex;
        flex-direction: column;
        height: 500px;
        
    }
 

    .boussole {
     height: 100px;
     
 }

    .titreprincipal {
        height: 190px!important;
        padding-top: 30px;
    }
 
    
}

body {
    margin:0;
    padding:0;
    background: url(../../images/piarteiphone.jpg) no-repeat center; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
   
   
}


* { box-sizing: border-box; } // Permet au padding d'être pris en compte pour le calcul des largeurs.


.titreprincipal{


    background: url(../../images/carte.png) no-repeat center; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */ 
    height: 80px;
    width: 40%;
    
    
        h1 {
            color: red;
            font-family: 'UnifrakturCook', cursive;
            
        }
    
}

h5 {
    font-size: 4em !important;
}

p {
    font-size: 2em;
}

li {
    font-size: 2em;
}



#exampleModal {

    background: url(../../images/carte.png) no-repeat center; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */ 
   
}


#exampleModal2 {

    background: url(../../images/carte.png) no-repeat center; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */ 
   
}

.modal-content {

    background: url(../../images/fondcarte.jpg) no-repeat center; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    font-family: 'UnifrakturCook', cursive;
    
// permet de faire disparaître le background du modal.
    height: 1px;

    
}



.close {

    color: red!important;
    font-size: 150px!important;  
    
}



.block1 {
    height: 300px;
}



// taille des images
.imgpir {
    height: 75%;   
}



progress {
   
    -webkit-appearance: none;
    width: 300px;
    height: 60px;  
}

// style barre numéro 1
#progressBar::-webkit-progress-bar { 
    overflow: hidden;
    background:  #555;
    -webkit-box-shadow:  #555;
    box-shadow:  0 0 2px 2px;
    border-radius: 40px 0 0 40px;
}

#progressBar::-moz-progress-bar {
    
    -moz-box-shadow:   #555;
    box-shadow:  0 0 2px 2px;
    background: rgb(185, 50, 50);
   
}  



#progressBar::-webkit-progress-value {  
    background: rgb(185, 50, 50);
    border-radius: 40px 0 0 40px;
}  



// style barre numéro 2
#progressBar2::-webkit-progress-bar {
    overflow: hidden; 
    background: #555;
    -webkit-box-shadow: #555;
    -moz-box-shadow: #555;
    box-shadow: 0 0 2px 2px;
    border-radius: 40px 0 0 40px;
}

#progressBar2::-moz-progress-bar {
    
    -moz-box-shadow:   #555;
    box-shadow:  0 0 2px 2px;
    background: rgb(246, 246, 33);
   
}  

#progressBar2::-webkit-progress-value {  
    background: rgb(246, 246, 33);
    border-radius: 40px 0 0 40px;
}  

// style barre numéro 3
#progressBar3::-webkit-progress-bar {
    overflow: hidden; 
    background: #555;
    -webkit-box-shadow: #555;
    -moz-box-shadow: #555;
    box-shadow: 0 0 2px 2px;
    border-radius: 40px 0 0 40px;
}

#progressBar3::-moz-progress-bar {
    
    -moz-box-shadow: #555;
    box-shadow:  0 0 2px 2px;
    background:rgb(70, 149, 251);
   
}  

#progressBar3::-webkit-progress-value {  
    background: rgb(70, 149, 251);
    border-radius: 40px 0 0 40px;
  
}  

// style des boutons 
.button1 {
    background: url(../../images/sabres.png) no-repeat center;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    background-color: rgb(42, 41, 41);
    width:75px;
    height:75px;
    border-radius:50px;
 
}


.button2 {
    background: url(../../images/coffre.png) no-repeat center;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    background-color: rgb(42, 41, 41);
    width:75px;
    height:75px;
    border-radius: 50px;    
}


.button3 {
   
    background: url(../../images/gouvernail.png) no-repeat center;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    background-color: rgb(42, 41, 41); 
    width: 75px;
    height:75px;
    border-radius: 50px; 
}

.button4 {
    background: url(../../images/boussole.png) no-repeat center;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    background-color: white;
    width:100px;
    height:100px;
    border-radius: 50px;
    border: red solid 4px;  
 
    
}

// animation du bouton boussole
.button4 {
    
  
  -webkit-animation: tourne 5s infinite;
  -moz-animation: tourne 5s infinite;
  animation: tourne 5s infinite;

}

@-webkit-keyframes tourne {
    0% {
    
    -webkit-transform: rotate(0deg);
  }

    
     50% {
         -webkit-transform: rotate(-180deg);
     }


  100% {
   
    -webkit-transform: rotate(360deg);
  }
}


@-moz-keyframes tourne {
  0% {
   
    -moz-transform: rotate(0deg);
  }

  50% {
    -moz-transform: rotate(-180deg);
}

  100% {
   
    -moz-transform: rotate(360deg);
  }
}


@keyframes tourne {
  0% {
  
    transform: rotate(0deg);
  }

  50% {
      transform: rotate(-180deg);
  }

  100% {
   
    transform: rotate(360deg);
  }
}


// bouton rejouer
.button5 {
    background: url(../../images/chance.png) no-repeat center;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    background-color: rgb(42, 41, 41); 
    width:75px;
    height:75px;
    border-radius: 50px;
   
}

// bouton pour lancer la console
.button6 {
    background: url(../../images/shark.png) no-repeat center;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    width:110px;
    height:110px;
    border-radius: 50px;
    border: none;
   
}


// partie console

#input {
    width: 100%;
    height: 30px;
    background-color: #FFFFFF;
}

#output {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
}


// sélection du texte

::selection{
    background-color:red;
    color: white;
  }
  
  /* Firefox */
  ::-moz-selection {
    background-color:red;
    color: white;
  }
    


@import "../../bootstrap/scss/bootstrap.scss"